.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page { 
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.page > p { 
    margin-right: 5px;
    font-family: "", sans-serif;
}
.page > p > a {
    text-decoration: none;
    color: #000;
}
.page > p > a:hover {
    text-decoration: underline;
}

.main-container {
    display: flex;
    flex-direction: column;
}


a {
    text-decoration: none;
    color: black;
}

.tabs-container {
    max-width: 1000px;
    padding: 25px 0;
    margin-bottom: 30px;
}

.tabs {
    display: flex;
    border-bottom: 1px solid rgb(46, 46, 46, .4);
    list-style: none;
}

.tabs > li {
    margin-right: 18px;
    font-family: "", sans-serif;
}

.tabs > li > a {
    display: block;
    position: relative;
    top: 4px;
    padding: 10px 0;
    border-radius: 2px 2px 0 0;
    font-size: 22px;
    
    transition: all 0.1s ease-in-out;
}

.tabs > .active {
    border-bottom: 2px solid #9753E1;
}

.name-sect {
    margin: 50px 0 10px;
    font-family: "Noto Sans", sans-serif;
    font-size: 41px;
    font-weight: 600;
    line-height: 49.2px;
}

.cart-header {
    display: grid;
    grid-template-columns: 2fr repeat(4, 3fr) 1fr;
    column-gap: 30px;

    padding: 20px 0;

    background-color: #EAEFF2;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.product > p, .cart-header > p,
.cart-footer > p, .product-name { font-family: "Noto Sans", sans-serif;}

.product-img > img { height: 180px;}

.cart-info-name {  grid-column-start: 2;}

.cart-footer {
    display: grid;
    grid-template-columns: 2fr repeat(4, 3fr) 1fr;
    column-gap: 30px;

    padding: 20px 0;

    background: #EAEFF2;
    font-weight: 700;
    font-size: 18px;
}

.cart-footer-count {
  grid-column-start: 3;
}

.product {
    display: grid;
    grid-template-columns: 2fr repeat(4, 3fr) 1fr;
    column-gap: 30px;
    padding: 20px 0;
    border-bottom: 1px solid rgba(126, 155, 189, 0.3);
    font-weight: 600;
    font-size: 18px;
}

.product > * {
  align-self: center;
}

.product-controls > button {
    border: none;
    padding: 7px;
    background-color: #00000000;
    cursor: pointer;
}

.product-imgб .product-controls {
  justify-self: center;
}

.product-name {
    font-size: 20px;
    font-weight: 500;
}

#quantity {
    padding: 0.7em;
    max-width: 45px;

    background: #E7E7E7;
    border-radius: 5px;

    text-align: center;
    font-family: "Lato", sans-serif;

    border: none;
    outline: none;
}

#quantity::-webkit-outer-spin-button,
#quantity::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
} /*убирает встроенные стрелочки для input type=number*/

.product-quantity > button {
    font-size: 20px;
    padding: 0 5px;

    background: #ffffff00;
    border-radius: 5px;
    
    border: none;
    outline: none;
    cursor: pointer;
}

.button-outline {
    display: flex;
    justify-content: end;
    margin: 30px 0;
}

.button-outline > button {
    width: 249px;
    height: 60px;
    border-radius: 4px;
}

.next {
    background-color: #000;
    color: aliceblue;
    font-size: 20px;
    cursor: pointer;
}

