* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*, *:after, *:before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    transition: .5s ease-in-out;
 }

@font-face {
    font-family: "Noto Sans", sans-serif;
    src: url("ofont.ru_Noto\ Sans.ttf");
}

header {
    width: 100%;
    height: 120px;

    background-color: #ffffff;
    border-bottom: 1px solid #eeeeee;

    display: flex;
    justify-content: center;

    position: sticky;
    top: 0;
    z-index: 1;
}


.container {
    width: 1200px;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo {
    cursor: pointer;
    justify-self: flex-start;
}

nav {
    display: flex;
    width: 485px;
    justify-content: space-between;
    text-transform: uppercase;

    font-size: 14px;
    font-weight: 500;
    line-height: 18.2px;
    letter-spacing: 0.02em;
}

nav>a {
    color: black;
    text-decoration: none;
    
}
nav > a > p { 
    font-family: "Noto Sans", sans-serif;
    letter-spacing: 0.03em;
    font-size: medium;
}

.feedback {
    text-decoration: none;
    border-bottom: 1px solid black;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: black;
}

.basket>img {
    height: 30px;
}

footer {
    background-color: #525252;

    width: 100%;
    min-height: 200px;

    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.footer {
    width: 1200px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    font-family: "Bellota", sans-serif;
    color: #969696;
    position: relative;
    bottom: 0;
}

.footer-top, .footer-bottom {
    display: flex;
    justify-content: space-between;
}

.footer-nav {
    display: flex;
    width: 480px;
    justify-content: space-between;
}

.footer-nav > a {
    text-decoration: none;
    color: #ffffff;
}
.footer-nav > a > p { 
    text-transform: uppercase;
    font-size: 16px;
}

.footer-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 70px;
}

.footer-content > hr {
    margin: 17px 0 13px ;
}




@media (width < 440px) {
    header {
        height: 80px;
    }

    .container {
        width: 90%;
    }
    nav {
        position: absolute;
        bottom: -20px;
        width: 90%;
    }
    nav > a > p {
        font-size: 10px;
        color: #fff;
    }
    .background-cont-nav {
        background-color: #6e777e;
        width: 100%;
        height: 18px;
    }
    .feedback {
        font-size: 12px;
    }
}