.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.gray-backgrd {
    background-color: #F9F9F9;
    padding-bottom: 20px;
}

.page { 
    display: flex;
    align-items: center;
    margin: 20px 0 10px;
}
.page > p { 
    margin-right: 5px;
    font-family: "", sans-serif;
}
.page > p > a {
    text-decoration: none;
    color: #000;
}
.page > p > a:hover {
    text-decoration: underline;
}

.card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.card-photos {
    grid-column: 1/2;
}

.info-card {
    grid-column: 2/3;
    padding-top: 35px;
}

.name-property {
    font-family: "Noto Sans", sans-serif;
    font-size: larger;
    margin: 30px 0 10px;
}

.main-card-photo {  width: 500px;}

.btn-action {
    margin-top: 14px;

    width: 230px;
    height: 40px;
    border-radius: 4px;

    border: none;
    color: #fff;

    font-family: "Roboto", sans-serif;
    font-size: 14px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.in-basket {  
    background: #7850a3; 
    margin-right: 20px;
}
.in-basket > p {
    font-family: "Noto Sans", sans-serif;
}
.fast-buy {  background: #f4723b;}

.in-basket:hover {
    background-color: #60457d;
    transition: 200ms;
    cursor: pointer;
}
.fast-buy:hover {
    background-color: #d66534;
    transition: 200ms;
    cursor: pointer;
}

.btn-action-icon {
    margin-right: 9px;
    height: 14px;
}

.card-photo-elem {
    max-width: 100px;
    max-height: 130px;
    padding: 10px;
    background: none;
    border-width: 1px;
}

.card-photo-elem > img {
    max-width: 80px;
    max-height: 110px;
    object-fit: contain;
}

.card-name {
    font-family: "Noto Sans", sans-serif;
    font-size: 30px;
}

.price-card {
    font-family: "Lato", sans-serif;
    font-size: 28px;
    font-weight: 500;
}

.sizes, .quantity {
    display: flex;
    align-items: center;
}

.size {
    margin-right: 10px;
    padding: 5px 10px;
}

.quantity > p { 
    font-family: "Noto Sans", sans-serif;
    font-size: 24px;
}
.quantity > button {
    padding: 7px 15px;
    font-family: "Lato", sans-serif;
    font-size: 20px;

    border-radius: 50%;
    border: none;
    background: radial-gradient( #d6d6d6aa, #ababab93);
}
.quantity > button,
.quantity > p {
    margin-right: 10px;
}

.card-buttons {
    display: flex;
}



a {
    text-decoration: none;
    color: black;
}

.tabs-container {
    max-width: 1000px;
    padding: 25px 0;
}

.tabs {
    display: flex;
    border-bottom: 1px solid rgb(46, 46, 46, .4);
    list-style: none;
}

.tabs > li {
    margin-right: 18px;
    font-family: "", sans-serif;
}

.tabs > li > a {
    display: block;
    position: relative;
    top: 4px;
    padding: 10px 0;
    border-radius: 2px 2px 0 0;
    
    transition: all 0.1s ease-in-out;
}

.tabs-content {
    position: relative;
    z-index: 2;
    padding: 25px 0;
    border-radius: 0 4px 4px 4px;
}

.tabs-panel {
    display: none;
}
.tabs-panel > p { font-family: "", sans-serif;}

.tabs-panel.active {
    display: block;
}
.tabs > .active {
    border-bottom: 2px solid #9753E1;
}